<md-content flex layout-fill layout-padding>
  <md-card flex layout-fill ng-if="characterSheet.character.id != undefined">

    <md-card-content flex layout="column" layout-fill>
      <md-toolbar flex class="md-toolbar-tools">
        <h2><i class="fa" ng-class="characterSheet.character.icon"></i> {{ characterSheet.character.name }}</h2>
      </md-toolbar>
      <md-tabs flex layout-fill md-dynamic-height>

        <md-tab label="Attributes" flex layout-fill>
          <md-tab-body layout-fill flex>
            <div flex layout-fill layout="row" layout-wrap layout-padding>
              <div flex-gt-md="33" flex-md="50" flex-sm="50"
                   ng-repeat="(name, value) in characterSheet.character.attributes">
                <md-button layout="column" layout-align="space-around center" flex layout-fill
                           ng-click="characterSheet.doAttributeCheck(name, $event)">
                  <h4 flex="15">{{ name }}</h4>
                  <h1 flex>{{ value | attributeModifier | addPlus}}</h1>
                </md-button>
              </div>
            </div>
          </md-tab-body>
        </md-tab>

        <md-tab label="Skills" flex layout-fill>
          <md-tab-body flex layout-fill layout="column">
            <div layout="column" layout-fill>
              <md-input-container flex class="md-list-item-text">
                <label><i class="fa fa-search"></i> Search for skill...</label>
                <input type="text" ng-model="characterSheet.skillQuery"/>
              </md-input-container>
              <div flex layout="row" layout-fill layout-wrap layout-padding>
                <div flex-gt-md="33" flex-md="50" flex-sm="50"
                     ng-repeat="skill in characterSheet.skills |filter:characterSheet.skillQuery | orderBy:'name'">
                  <md-button layout="column" layout-align="space-around center" flex layout-fill
                             ng-click="characterSheet.doSkillCheck(skill.name, $event)">
                    <h4 flex>
                      <i class="fa" ng-class="characterSheet.getProficientInSkillIcon(skill.name)"></i>
                      {{ skill.name }}
                    </h4>
                    <h1 flex>{{ characterSheet.getSkillBonus(skill.name) | addPlus }}</h1>
                  </md-button>
                </div>
              </div>
            </div>
          </md-tab-body>
        </md-tab>
      </md-tabs>

    </md-card-content>
  </md-card>
</md-content>
